    body {
    background-color:black;
    display:flex;
    justify-content:center;
    width: -webkit-fill-available;
    flex-wrap:wrap;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    }
    .c{
    display:flex;
    flex-direction: row;
    justify-content: center;
    }
    .e{
    display:flex;
    flex-direction: row; 
    justify-content: center;
    }
    .f{
    display:flex;
    flex-direction: row;
    justify-content: center;
    }  
    .g{
    display:flex;
    flex-direction: row;
    justify-content: center;
    }
    .h{
    display:flex;
    flex-direction: row;
    justify-content: center;
    }
    .i{
    display:flex;
    flex-direction: row;
    justify-content: center;
    }
    form {
    display:flex;
    justify-content: center;
    flex-direction: column;
    }
    input {
    font-size:60px;
    background-color:#505050;
    color:white;
    border-radius:80px;
    margin:9px;
    outline:none;
    border:none;
    width:96px;
    height:100px;
    }
    .j{
    width:500px;
    margin: 3%;
    text-align: right;
    position: relative;
    left: -50px;
    background-color: black;
    font-size: 110px;
    border-radius: 0;
    font-family: system-ui;
    }
    .b{
    background-color:#FF9500;
    }
    .a{
    background-color:#D4D4D2;
    color:black;
    }
    .d{
    width:208px;
    text-indent:-110px;
    }
    ::-webkit-input-placeholder{
    color:white;

    }
    .anything {
        margin:2% 2px 2px 2px;
        position: fixed;
        bottom: 3%;
    }