body{
    margin: 0;
}
nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}
a{
    color: white;
    margin: 15px 15px;
    text-decoration: none;
    display: flex;
    font-size: 18.5px;
}
.navlist{
    display: flex;
    align-items: centers;
}
.b{
    display: none;
}
@media(max-width:480px){
.navlist{
    display: none;
}
.b{
    display: flex;
    align-items: center;
}
}
