body {
    margin: 0px;
}

nav {
    background-color: rgb(85, 85, 85);
}

nav li {
    list-style: none;
    float: right;
    margin: 20px;
}

nav ul {
    overflow: auto;

}

.a {
    float: left;
    margin: 20px;
}

a {
    color: white;
    text-decoration: none;
}
.b {
    display: flex;
    justify-content: flex-end;
}
img{
    display : none;
}
@media (max-width:575px){
    .b{
        display :none ;
    }
    img{
        display: flex;
        justify-content: flex-end;
        text-align:left;
        width:50px;
        height : 60px;
    }
    }